In [1]:


import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline 

matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

#Now we need to read in the data
df = pd.read_csv('/home/jay/code/Data_analytics_projects/new_github_repo/diagonistic_analysis_of_labour_shortage_in_food_industry/earnings_by_industry.csv')

In [3]:
# Now let's take a look at the data
df

,Reference area,Source,Sex,Economic activity,Time,Local currency,2017 PPP $,U.S. dollars,Unnamed: 8
0,Albania,ADM-IR - General Directorate of Taxation,Total,Total,2015,46829.00,891.55,371.77,Notes\n\nAverage monthly earnings of employees...
1,Albania,ADM-IR - General Directorate of Taxation,Total,A. Agriculture; forestry and fishing,2015,33800.00,643.50,268.34,Notes\n\nAverage monthly earnings of employees...
2,Albania,ADM-IR - General Directorate of Taxation,Total,B. Mining and quarrying,2015,63835.00,1215.32,506.78,Notes\n\nAverage monthly earnings of employees...
3,Albania,ADM-IR - General Directorate of Taxation,Total,C. Manufacturing,2015,31421.00,598.21,249.45,Notes\n\nAverage monthly earnings of employees...
4,Albania,ADM-IR - General Directorate of Taxation,Total,"D. Electricity; gas, steam and air conditionin...",2015,62880.00,1197.14,499.20,Notes\n\nAverage monthly earnings of employees...
...,...,...,...,...,...,...,...,...,...
50814,Zimbabwe,LFS - Labour Force Survey,Female,Q. Human health and social work activities,2019,809.54,45.58,NaN,Notes\n\nAverage monthly earnings of employees...
50815,Zimbabwe,LFS - Labour Force Survey,Female,"R. Arts, entertainment and recreation",2019,367.72,20.70,NaN,Notes\n\nAverage monthly earnings of employees...
50816,Zimbabwe,LFS - Labour Force Survey,Female,S. Other service activities,2019,229.94,12.95,NaN,Notes\n\nAverage monthly earnings of employees...
50817,Zimbabwe,LFS - Labour Force Survey,Female,T. Activities of households as employers; undi...,2019,133.78,7.53,NaN,Notes\n\nAverage monthly earnings of employees...
50818,Zimbabwe,LFS - Labour Force Survey,Female,U. Activities of extraterritorial organization...,2019,1264.54,71.19,NaN,Notes\n\nAverage monthly earnings of employees...

In [11]:
## Find out the columns that we are dealing with
print(df.dtypes)

Reference area        object
Source                object
Sex                   object
Economic activity     object
Time                   int64
Local currency       float64
2017 PPP $           float64
U.S. dollars         float64
Unnamed: 8            object
dtype: object

In [5]:
## Lets see how many Economic Activities Exist
df['Economic activity'].nunique()

23

In [10]:
## List the different economic activities
df['Economic activity'].unique()

array(['Total', 'A. Agriculture; forestry and fishing',
       'B. Mining and quarrying', 'C. Manufacturing',
       'D. Electricity; gas, steam and air conditioning supply',
       'E. Water supply; sewerage, waste management and remediation activities',
       'F. Construction',
       'G. Wholesale and retail trade; repair of motor vehicles and motorcycles',
       'H. Transportation and storage',
       'I. Accommodation and food service activities',
       'J. Information and communication',
       'K. Financial and insurance activities',
       'L. Real estate activities',
       'M. Professional, scientific and technical activities',
       'N. Administrative and support service activities',
       'O. Public administration and defence; compulsory social security',
       'P. Education', 'Q. Human health and social work activities',
       'R. Arts, entertainment and recreation',
       'S. Other service activities',
       'T. Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use',
       'U. Activities of extraterritorial organizations and bodies',
       'X. Not elsewhere classified'], dtype=object)

In [26]:
## show earnings of people engaging in Agriculture in 2021
df.loc[(df['Economic activity'] == 'A. Agriculture; forestry and fishing') & (df['Time'] == 2021) * (df['Sex'] == 'Total') ]

                       Reference area  \
953                         Argentina
3151                       Azerbaijan
4726                           Bhutan
5699           Bosnia and Herzegovina
6501                           Brazil
8320                         Colombia
9174                       Costa Rica
12108              Dominican Republic
12695                         Ecuador
14393                        Ethiopia
18277                       Guatemala
23978              Korea, Republic of
29259                       Mauritius
29673                          Mexico
30270            Moldova, Republic of
30973                        Mongolia
34208  Occupied Palestinian Territory
34634                        Pakistan
35336                          Panama
35591                            Peru
36248                     Philippines
38684                          Rwanda
39048                      San Marino
40107                          Serbia
44259                     Switzerland
45155                        Thailand
46201                         Türkiye
46875                         Ukraine
48322                   United States
49315                      Uzbekistan
50175                        Viet Nam
50552                          Zambia

                                                  Source    Sex  \
953        LFS - Encuesta Permanente de Hogares (Urbano)  Total
3151            ES - Labour-related Establishment Survey  Total
4726                    LFS - Labour Force Survey Report  Total
5699                           LFS - Labour Force Survey  Total
6501   HS - Pesquisa Nacional por Amostra de Domicíli...  Total
8320            LFS - Gran Encuesta Integrada de Hogares  Total
9174                   HS - Encuesta Nacional de Hogares  Total
12108  LFS - Encuesta Nacional Continua de Fuerza de ...  Total
12695  LFS - Encuesta Nacional de Empleo, Desempleo y...  Total
14393                  LFS - National Labor Force Survey  Total
18277       LFS - Encuesta Nacional de Empleo e Ingresos  Total
23978  ES - Survey on labor conditions by employment ...  Total
29259    LFS - Continuous Multi-Purpose Household Survey  Total
29673      LFS - Encuesta Nacional de Ocupación y Empleo  Total
30270                          LFS - Labour Force Survey  Total
30973  ADM-IR - Report of the General Authority for S...  Total
34208                          LFS - Labour Force Survey  Total
34634                          LFS - Labour Force Survey  Total
35336                  LFS - Encuesta de Mercado Laboral  Total
35591                  HS - Encuesta Nacional de Hogares  Total
36248                          LFS - Labour Force Survey  Total
38684             LFS - Enquête sur la Population Active  Total
39048  OE - Estimates of the Office of economic plann...  Total
40107                          LFS - Labour Force Survey  Total
44259             LFS - Enquête sur la Population Active  Total
45155                          LFS - Labour Force Survey  Total
46201                LFS - Household Labour Force Survey  Total
46875  ES - Survey of enterprises on matters pertaini...  Total
48322                    LFS - Current Population Survey  Total
49315                            OE - Official Estimates  Total
50175                          LFS - Labour Force Survey  Total
50552                          LFS - Labour Force Survey  Total

                          Economic activity  Time  Local currency  2017 PPP $  \
953    A. Agriculture; forestry and fishing  2021        67169.15     1580.98
3151   A. Agriculture; forestry and fishing  2021          460.40      908.78
4726   A. Agriculture; forestry and fishing  2021        18427.19      831.53
5699   A. Agriculture; forestry and fishing  2021         1299.98     1647.72
6501   A. Agriculture; forestry and fishing  2021         1354.51      535.24
8320   A. Agriculture; forestry and fishing  2021       846437.60      540.01
9174   A. Agriculture; forestry and fishing  2021       297390.79      830.00
12108  A. Agriculture; forestry and fishing  2021        11437.53      437.65
12695  A. Agriculture; forestry and fishing  2021          284.15         NaN
14393  A. Agriculture; forestry and fishing  2021          446.59       28.87
18277  A. Agriculture; forestry and fishing  2021         1336.00      289.69
23978  A. Agriculture; forestry and fishing  2021      3567000.00     3583.53
29259  A. Agriculture; forestry and fishing  2021        17892.95      993.12
29673  A. Agriculture; forestry and fishing  2021         4769.56      430.24
30270  A. Agriculture; forestry and fishing  2021         3315.80      487.43
30973  A. Agriculture; forestry and fishing  2021      1002800.00      997.01
34208  A. Agriculture; forestry and fishing  2021         2080.06     3528.22
34634  A. Agriculture; forestry and fishing  2021        13576.62      323.29
35336  A. Agriculture; forestry and fishing  2021          337.36      730.70
35591  A. Agriculture; forestry and fishing  2021          916.16      484.48
36248  A. Agriculture; forestry and fishing  2021         8673.60      430.90
38684  A. Agriculture; forestry and fishing  2021         5362.32       17.90
39048  A. Agriculture; forestry and fishing  2021         1082.00         NaN
40107  A. Agriculture; forestry and fishing  2021        52363.52         NaN
44259  A. Agriculture; forestry and fishing  2021         4075.01         NaN
45155  A. Agriculture; forestry and fishing  2021         6337.08      516.08
46201  A. Agriculture; forestry and fishing  2021         2353.76      771.62
46875  A. Agriculture; forestry and fishing  2021        12287.00     1441.63
48322  A. Agriculture; forestry and fishing  2021         3592.47     3592.47
49315  A. Agriculture; forestry and fishing  2021      1937439.10      835.94
50175  A. Agriculture; forestry and fishing  2021      4576361.54      579.16
50552  A. Agriculture; forestry and fishing  2021         1993.89      314.95

       U.S. dollars                                         Unnamed: 8
953          707.11  Notes\n\nAverage monthly earnings of employees...
3151         270.82  Notes\n\nAverage monthly earnings of employees...
4726         249.22  Notes\n\nAverage monthly earnings of employees...
5699         786.15  Notes\n\nAverage monthly earnings of employees...
6501         251.10  Notes\n\nAverage monthly earnings of employees...
8320         226.10  Notes\n\nAverage monthly earnings of employees...
9174         479.06  Notes\n\nAverage monthly earnings of employees...
12108        199.88  Notes\n\nAverage monthly earnings of employees...
12695        284.15  Notes\n\nAverage monthly earnings of employees...
14393           NaN  Notes\n\nAverage monthly earnings of employees...
18277        172.74  Notes\n\nAverage monthly earnings of employees...
23978       3118.14  Notes\n\nAverage monthly earnings of employees...
29259        429.17  Notes\n\nAverage monthly earnings of employees...
29673        235.27  Notes\n\nAverage monthly earnings of employees...
30270        187.54  Notes\n\nAverage monthly earnings of employees...
30973        351.95  Notes\n\nAverage monthly earnings of employees...
34208           NaN  Notes\n\nAverage monthly earnings of employees...
34634         83.34  Notes\n\nAverage monthly earnings of employees...
35336        337.36  Notes\n\nAverage monthly earnings of employees...
35591        236.09  Notes\n\nAverage monthly earnings of employees...
36248        176.10  Notes\n\nAverage monthly earnings of employees...
38684          5.42  Notes\n\nAverage monthly earnings of employees...
39048       1279.73  Notes\n\nAverage monthly earnings of employees...
40107           NaN  Notes\n\nAverage monthly earnings of employees...
44259           NaN  Notes\n\nAverage monthly earnings of employees...
45155        198.18  Notes\n\nAverage monthly earnings of employees...
46201        265.95  Notes\n\nAverage monthly earnings of employees...
46875        450.30  Notes\n\nAverage monthly earnings of employees...
48322       3592.47  Notes\n\nAverage monthly earnings of employees...
49315        182.61  Notes\n\nAverage monthly earnings of employees...
50175        197.60  Notes\n\nAverage monthly earnings of employees...
50552         99.60  Notes\n\nAverage monthly earnings of employees...

In [24]:
# Scatter plot with budget as gross
# Scatter plot with budget as gross
plt.scatter(x=df['Reference area'] = df.loc[(df['Economic activity'] == 'A. Agriculture; forestry and fishing') & (df['Time'] == 2021) * (df['Sex'] == 'Total') ],y=df['U.S. dollars'])
plt.title('Economic Activity vs Gross Earnings')
plt.xlabel('Economic Activity')
plt.ylabel('Gross Earnings')
plt.show()

SyntaxError: invalid syntax (983272886.py, line 3)